<div class="container">

  <div class="row section">
    <!--bootstrap tip - to center set an offset equal to half of the remaining size of the row-->
    <div class="list-group col-md-6  col-md-offset-3">
      <h2>Home View</h2>
      <a ng-init="home.images.4" href="#/full/4" class="list-group-item"><h3>Drake is Your Biggest Fan</h3><h5>#whennooneelsedoes</h5></a>
    </div>
  </div>

<hr/>

  <div class="row section">
    <div class="col-md-6 col-md-offset-3">
      <h2>Thumbnail View</h2>
      <a href="#/full/4" class="thumbnail">
        <img src="https://s-media-cache-ak0.pinimg.com/236x/9a/db/15/9adb157a24b5e39e0daa1db1fcafaca2.jpg" height="100" width="100" />
      </a>
    </div>
  </div>
  <hr/>


  <div class="row section">
    <div class="col-md-6 col-md-offset-3">
      <h2>Full Size View</h2>
      <h3>Drake is Your Biggest Fan</h3>
      <img src="https://s-media-cache-ak0.pinimg.com/236x/9a/db/15/9adb157a24b5e39e0daa1db1fcafaca2.jpg" height="400" width="400"/>
      <h6>#whennooneelsedoes</h6>
    </div>
  </div>

</div>
